<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello World</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>

<body style="background-image: url('lakechilly.jpg');">
    <div class="container-fluid">
        <h1>Hello World</h1>
        <p>Username: </p>
        
        <div class="row">
            <div class="col-sm-4">
                <input class= "form-control" id="textbox"><br>
                <!-- <button class="btn btn-primary form-control" id="button">Enter</button> -->
                
                <p>Password: </p>
                <input class= "form-control" id="textbox2"><br>
                <p id="demo"></p>
                <p id="demo2"></p>
                <button class="btn btn-primary form-control" id="button">Enter</button>
                
            </div>
            
        </div>
        
    </div>
</body>

</html>
